__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.venv/
venv/
ENV/
env/
target/

.env
.flaskenv
*.env
auth.json

# FastAPI / Logs
*.log
data/
database.db

# Testes e Cobertura
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDEs (VS Code, PyCharm)
.vscode/
.idea/
*.swp
*.swo

.docker/